body{
	font-family: 'PT Sans', sans-serif;
}

header{
	height: 140px;
}

header a{
	float: left;
	text-transform: uppercase;
	color: #666;
	font-size: 14px;
}

header a.right{
	margin: 0 20px;
	float: right;
	line-height: 140px;
}

header img{
	margin: 25px 30px;
}

h1, h4{
	display: inline-block;
}

h1{
	margin: 35px 0 0 0;
	font-size: 36px;
	font-weight: 400;
	text-transform: uppercase;
	line-height: normal;
}

h4{
	margin-top: 0;
	font-size: 14px;
}

header, #map{
	width: 100%;
}

#controls{
	position: absolute;
	top: 150px;
	left: 20px;
}

#controls .btn-group, #controls > a.btn{
	margin-top: 10px;
	border: none;
	box-shadow: 0 0 4.8px 0.3px rgba(0, 0, 0, 0.25);
}

.btn-group + .btn-group{
	margin-left: 10px;
}

#zoom{
	color: #666;
}

#drawing, #polygon-controls, #finish-controls{
	display: none;
}

#drawn{
	min-width: 300px;
	margin: 0;
	position: fixed;
	bottom: 0;
	left: 20px;
	-webkit-transition: all 250ms ease-in;
	-moz-transition: all 250ms ease-in;
	-ms-transition: all 250ms ease-in;
	-o-transition: all 250ms ease-in;
	transition: all 250ms ease-in;
}

#drawn.up{
	margin-bottom: 0 !important;
}

#drawn #switch{
	float: right;
	color: #666;
	font-size: 16px;
	cursor: pointer;
}

#drawn .down{
	display: none;
}

#drawn.up .down{
	display: inline;
}

#drawn.up .up{
	display: none;
}

#drawn li:first-child{
	background-color: white;
}

.delete{
	float: right;
	cursor: pointer;
}

.swatch{
	width: 12px;
	height: 12px;
	margin-right: 10px;
	display: inline-block;
	position: relative;
	top: 1px;
}

#about .modal-footer{
	padding-bottom: 20px;
	text-align: left;
}

#about .logo{
	height: 30px;
	margin-right: 20px;
}

#dropdown-toggle .loading{
	display: none;
}