.twitter-typeahead, .tt-dropdown-menu{
	width: 100%;
}

.tt-dropdown-menu{
	margin-top: -15px;
	background-color: white;
	border: 1px solid #999;
	box-shadow: 0 0 4.8px 0.3px rgba(0, 0, 0, 0.25);
}

.tt-suggestion {
    padding: 0 20px;
    line-height: 50px;
    border-bottom: 1px solid #999;
}

.tt-suggestion.tt-cursor{
    background-color: #eee;
}

.tt-suggestion p{
	margin: 0;
}

#name-input{
	margin-bottom: 15px;
}

#name #type-radios input[ type="radio" ] {
	margin: 0 10px;
}

#name #confidence-radios input[ type="radio" ]{
	margin-right: 123px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#name #confidence-radios input[ type="radio" ]:last-child{
	margin-right: 0;
}

#confidence-label{
	margin: -12px 0 20px;
	padding-top: 15px;
	border-top: 6px solid #999;
	font-weight: bold;
}

#confidence-label span{
	display: block;
	text-align: center;
}

#confidence-label .left{
	float: left;
	text-align: left;
}

#confidence-label .right{
	float: right;
	text-align: right;
}

#name a{
	margin-left: 15px;
	color: #999;
	text-decoration: underline;
	cursor: pointer;
}

#name a:hover{
	color: #333;
}

#ajax-loading, #ajax-success{
	display: none;
	padding: 75px 0;
}

#ajax-success{
	padding-bottom: 0;
}

i.big-icon{
	color: #2db143;
	font-size: 36px;
}

.ajax > p{
	text-align: center;
}

.list-group-item{
	background-color: whitesmoke;
}
