header{
	height: 140px;
}

header img{
	margin: 25px 30px;
}

header, #map{
	width: 100%;
}

#controls{
	position: absolute;
	width: 100%;
	top: 160px;
	left: 20px;
}

.btn-group + .btn-group, .btn + .btn-group{
	margin-left: 10px;
}

#zoom{
	color: #666;
}

#drawing{
	display: none;
}

.twitter-typeahead, .tt-dropdown-menu{
	width: 100%;
}

.tt-dropdown-menu{
	margin-top: -15px;
	background-color: white;
	border: 1px solid #999;
	box-shadow: 0 0 4.8px 0.3px rgba(0, 0, 0, 0.25);
}

.tt-suggestion {
    padding: 0 20px;
    line-height: 50px;
    border-bottom: 1px solid #999;
}

.tt-suggestion.tt-cursor{
    background-color: #eee;
}

.tt-suggestion p{
	margin: 0;
}

#name-input{
	margin-bottom: 15px;
}

#name input[ type="radio" ]{
	margin-right: 123px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#name input[ type="radio" ]:last-child{
	margin-right: 0;
}

#confidence-label{
	margin-top: -12px;
	padding-top: 15px;
	border-top: 6px solid #999;
	font-weight: bold;
}

#confidence-label span{
	display: block;
	text-align: center;
}

#confidence-label .left{
	float: left;
	text-align: left;
}

#confidence-label .right{
	float: right;
	text-align: right;
}

#name a{
	margin-left: 15px;
	color: #999;
	text-decoration: underline;
	cursor: pointer;
}

#name a:hover{
	color: #333;
}

#ajax-loading, #ajax-success{
	display: none;
	padding: 75px 0;
}

#ajax-success{
	padding-bottom: 0;
}

span.big-icon{
	color: #2db143;
	font-size: 36px;
}

.ajax > p{
	text-align: center;
}

/* BOOTSTRAP OVERRIDES */
.btn{
	line-height: 26px;
}

#drawing .btn.disabled {
	opacity: 1;
}

.btn-primary{
	background-color: #ee2a25;
}

.btn-primary:hover{
	background-color: #df3330;
}

.modal-header, .modal-footer{
	border: none;
}

.form-control{
	background-color: #eee;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
}
