header{
	height: 140px;
}

header img{
	margin: 25px 30px;
}

header, #map{
	width: 100%;
}

#controls{
	position: absolute;
	width: 100%;
	top: 160px;
	left: 20px;
}

.btn-group + .btn-group, .btn + .btn-group{
	margin-left: 10px;
}

#zoom{
	color: #666;
}

#drawing{
	display: none;
}

/* BOOTSTRAP OVERRIDES */
.btn{
	line-height: 26px;
}

#drawing .btn.disabled {
	opacity: 1;
}

.btn-primary{
	background-color: #ee2a25;
}

.btn-primary:hover{
	background-color: #df3330;
}